* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  background-color: hsl(148, 38%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  color: hsl(187, 24%, 22%);
}

.submit:hover {
  background-color: #095f51;
}

.form {
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 25px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name-info {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
}
.name,
.family {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}
.contact-us {
  color: #2d4244;
}
input[type="text"],
input[type="email"],
.radio-type,
textarea {
  border: 1px solid #b1bab9;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  padding: 10px;
}
textarea {
  resize: vertical;
  border: 1px solid #b1bab9;
  min-height: 100px;
}
/* input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #0c7d69;
} */
textarea:focus,
input[type="email"]:focus,
input[type="text"]:focus {
  outline: 2px solid hsl(169, 82%, 27%);
  outline-offset: 2px;
  border: none;
}
input[type="email"]:hover,
input[type="text"]:hover,
textarea:hover {
  border-color: #0c7d69;
}
/* input,
textarea {
  padding: 12px 16px;
  border-radius: 8px;
} */

.types {
  display: flex;
  align-items: center;
  gap: 10px;
}
label {
  font-size: 14px;
}
.radio {
  width: auto;
  height: auto;
}
@media (max-width: 600px) {
  .name-info {
    flex-direction: column;
  }
  label {
    width: 100%;
  }
  .name,
  .family {
    width: 100%;
  }
  .types {
    display: flex;
    flex-direction: column;
  }
}
.radio-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 10px;
}
.form-message,
.email-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="checkbox"] {
  width: 5%;
}
input[type="checkbox"],
input[type="radio"] {
  accent-color: #0c7d69;
}

.submit {
  background-color: #0c7d69;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 15px 0;
  font-size: 20px;
}
.Quary-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.error {
  font-size: 12px;
  display: none;
  color: #d73c3c;
}
.succed {
  background-color: #2d4244;
  color: white;
  padding: 12px 16px;
  border-radius: 10px;
  display: none;
}
